<div class="container-fluid">

  <button class="btn btn-warning mb-3 float-right text-uppercase" (click)="onAddArea()" >Add Area</button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width:100%">
    <thead class="text-center thead-dark">
      <tr>
        <th>LATITUDE</th>
        <th>LONGITUDE</th>
        <th>RADIUS</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas" class="text-center">
        <td>{{area.latitude}}</td>
        <td>{{area.longitude }}</td>
        <td>{{area.radius}}</td>
        <td>
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-success" (click)="onSelect(area)">SEE</button>
            <button type="button" class="btn btn-primary" (click)="onUpdateModal(area)" >UPDATE</button>
            <button type="button" class="btn btn-danger" (click)="onDelete(area)">DELETE</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ADD AREA MODAL START-->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW AREA</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item" >
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="areaLatitude">LATITUDE</span>
            </div>
            <input type="number" id="latitude" formControlName="latitude" class="form-control" placeholder="eg: 30.0 " aria-label="latitude" aria-describedby="areaLatitude">
          </div>
          <div class="errorMessage" *ngIf="latitude.touched && latitude.errors">
            <span *ngIf="latitude.hasError('required')">Latitude is required.</span>
            <span *ngIf="latitude.hasError('min')">Negative latitude not allowed</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="areaLongitude">LONGITUDE</span>
            </div>
            <input type="number" id="longitude" formControlName="longitude" class="form-control" placeholder="eg: 30.0 " aria-label="longitude" aria-describedby="areaLongitude">
          </div>
          <div class="errorMessage" *ngIf="longitude.touched && longitude.errors">
            <span *ngIf="longitude.hasError('required')">Longitude is required.</span>
            <span *ngIf="longitude.hasError('min')">Negative longitude not allowed</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="areaRadius">RADIUS</span>
            </div>
            <input type="number" id="radius" formControlName="radius" class="form-control" placeholder="eg: 30.0 " aria-label="radius" aria-describedby="areaRadius">
          </div>
          <div class="errorMessage" *ngIf="radius.touched && radius.errors">
            <span *ngIf="radius.hasError('required')">Radius is required.</span>
            <span *ngIf="radius.hasError('min')">Negative radius not allowed</span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="insertForm.invalid"  class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>
    </form>
  </div>
</ng-template>

<!--Edit AREA-->
  <ng-template #editTemplate>
    <div class="modal-header">
      <h4 class="modal-title">EDIT AREA</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p class="list-group-item active text-center text-uppercase">
        Enter selected radius</p>
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <ul class="list-group">
          <li class="list-group-item" [hidden]="_id">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="areaId"
                ></span>
              </div>
              <input
                type="text"
                class="form-control"
                formControlName="id"
              />
            </div>
          </li>
          <li class="list-group-item">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="_radius"
                  >RADIUS</span>
              </div>
              <input
                type="number"
                class="form-control"
                formControlName="radius"
              />
            </div>
            <div class="errorMessage" *ngIf="_radius.touched && _radius.errors">
              <span *ngIf="_radius.hasError('required')">Radius is required.</span>
              <span *ngIf="_radius.hasError('min')">Negative radius not allowed</span>
            </div>
          </li>
          <li class="list-group-item">
            <button [disabled]="updateForm.invalid"class="btn btn-primary btn-block">UPDATE</button>
          </li>
        </ul>
      </form>
    </div>
  </ng-template>