div {
  color: white;
  font-size: 20px;
}
p {
  color: red;
}
.row {
  text-align: center;
  margin: 70px 400px;
}
.row label {
  width: 300px;
}
.row input {
  width: 400px;
  border-bottom-color: #c26455;
  border-bottom-width: 2px;
  background-color: #fbefdb;
  display: inline;
}

.ErrorMessage {
  color: #d35a47;
  font-size: smaller;
}
