<!--
<h1 style="text-align: center; color: #F3C985; margin:100px auto 10px auto ;">Logowanie</h1>
<p style="color: white; text-align:center;">Nie masz jeszcze konta? <a style="color:#C56455" href="/join">Zarejestruj Się!</a></p>
<div class="row">
    <div class="col-xs-12 col-md-12 col-md-offset-12" >
        <div class="alert alert-danger" *ngIf="error">
            <p>{{error}}</p>
        </div>

        <div *ngIf="isLoading" >
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" *ngIf="!isLoading">
            <div class="form-group" style="text-align:center">
                <label for="username">Podaj nazwę użytkownika</label>
                <input type="text" id="username" class="form-control" ngModel name="username" required />
            </div>
            <div class="form-group" >
                <label for="password">Hasło</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required  />
            </div>
            <div>
                <button type="submit" class="btn btn-secondary" [disabled]="!loginForm.valid">
                    {{isLoginMode?'Login':'Sign Up'}}
                </button> |

                <button class="btn btn-warning" (click)="onSwitchMode()" type="button">
                    Switch to {{isLoginMode ? 'Sign Up':'Login'}}
                </button>
            </div>
        </form>

    </div>

</div>
-->
<h1 style="text-align: center; color: #f3c985; margin: 100px auto 10px auto;">
  LOGIN
</h1>
<p style="color: white; text-align: center;">
  Don't you have an account?
  <a style="color: #c56455;" href="/join"> Join us!</a>
</p>

<div class="row">
  <div class="col-xs-12 col-md-12 col-md-offset-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group" style="text-align: center;">
        <label for="username">Enter username</label>
        <input type="text" formControlName="login" id="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="haslo" id="password" />
      </div>
      <button
        type="submit"
        class="btn btn-secondary"
        [disabled]="!loginForm.valid"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
