<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
<a href="#" class="navbar-brand">YOUR AIR</a>
<button class="navbar-toggler" data-toggle="collapse" data-targt="#navLinks" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="" class="nav-link" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" routerLink="/sign-in">SIGN IN</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link" routerLink="/join">JOIN</a>
        </li>
    </ul>
</div>
</nav>
<router-outlet></router-outlet>