<section>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col" colspan="3 "><h4 text>YOUR LOCATIONS</h4></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>GLIWICE</td>

        <td><button type="button" class="btn btn-dark">Rynek</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>GLIWICE</td>

        <td><button type="button" class="btn btn-dark">Kościuszki</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>GLIWICE</td>

        <td><button type="button" class="btn btn-dark">Łabędy</button></td>
      </tr>
    </tbody>
  </table>
  <button id="edit" type="button" class="btn btn-dark">Edit list</button>
</section>
