<section class="register-block">
  <h1 style="text-align: center; color: #f3c985; margin: 100px auto 10px auto;">
    REGISTRATION
  </h1>

  <p style="color: white; text-align: center;">
    Do you already have an account?
    <a style="color: #c56455;" href="/sign-in"> Sign In!</a>
  </p>

  <div class="row">
    <div class="col-xs-12 col-md-12 col-md-offset-12">
      <form
        class="login-form form"
        method="post"
        [formGroup]="insertForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group" style="text-align: center;">
          <label for="firstName">First name</label>
          <input
            formControlName="firstName"
            id="firstName"
            type="text"
            placeholder=""
            class="form-control"
            required
          />
          <div
            *ngIf="firstName.touched && firstName.errors"
            role="alert"
            class="errorMessage"
          >
            <span *ngIf="firstName.hasError('required')"
              >First name is required</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last name</label>
          <input
            type="text"
            formControlName="lastName"
            id="lastName"
            required
            class="form-control"
            placeholder=""
          />
          <div *ngIf="lastName.touched && lastName.errors" class="errorMessage">
            <span *ngIf="lastName.hasError('required')"
              >Last name is required</span
            >
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate">Date of birth </label>
          <input
            type="date"
            formControlName="birthDate"
            id="birthDate"
            required
            class="form-control"
            placeholder=""
          />
          <div
            *ngIf="birthDate.touched && birthDate.errors"
            class="errorMessage"
          >
            <span *ngIf="birthDate.hasError('required')"
              >Date of birth is required</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="username">Username </label>
          <input
            type="text"
            formControlName="username"
            id="username"
            required
            class="form-control"
            placeholder=""
          />
          <div *ngIf="username.touched && username.errors" class="errorMessage">
            <span *ngIf="username.hasError('required')"
              >Username is requireds</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            id="password"
            required
            minlength="8"
            maxlength="20"
            class="form-control"
            placeholder=""
          />
          <div *ngIf="password.touched && password.errors" class="errorMessage">
            <span *ngIf="password.hasError('required')"
              >Password is requireds</span
            >
            <span *ngIf="password.hasError('maxLength')"
              >Only 20 characters allowed for password</span
            >
            <span *ngIf="password.hasError('minLength')"
              >At least 8 characters needed for password</span
            >
            <span *ngIf="password.hasError('pattern')"
              >Password need between 8-20 characters wich contain at least one
              lowercase letter, one uppercase letter, one numeric digit and one
              special character.</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="cpassword">Repeat password</label>
          <input
            type="password"
            formControlName="cpassword"
            id="cpassword"
            minlength="8"
            maxlength="20"
            required
            class="form-control"
            placeholder=""
          />
          <div
            *ngIf="cpassword.touched && cpassword.errors"
            class="errorMessage"
          >
            <span *ngIf="cpassword.hasError('required')"
              >Confirm password is required</span
            >
            <span *ngIf="cpassword.hasError('mustMatch')"
              >Password must match</span
            >
          </div>
        </div>

        <button
          type="submit"
          [disabled]="insertForm.invalid"
          class="btn btn-secondary"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</section>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="color: black; text-align: center;">
      Oops! Registration failed
    </h4>
  </div>
  <div
    class="modal-body text-center"
    style="background-color: #b17304; border-color: #b17304;"
  >
    <p>
      {{ modalMessage }}
    </p>
    <p>The <strong>username</strong> you provide is already taken.</p>
  </div>
</ng-template>
