h1 {
  color: white;
}
div {
  color: white;
  font-size: 20px;
}

.row {
  text-align: center;
  margin: 70px 400px;
}
.row label {
  width: 200px;
}
.row input {
  width: 400px;
  border-bottom-color: #c26455;
  border-bottom-width: 2px;
  background-color: #fbefdb;
  display: inline;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.errorMessage {
  color: #d35a47;
  font-size: smaller;
}
